## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [10]:
b = 2
print(b)

2

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [11]:
type(b)

int

4) Crear una variable que contenga tu nombre

In [12]:
name = 'elio'

5) Crear una variable que contenga un número complejo

In [15]:
num = 4 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [17]:
type(num)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [18]:
pi = 3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [21]:
a = 'True'
d = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [23]:
print ('la variable a es', type(a), 'la variable d es', type(d))

la variable a es <class 'str'> la variable d es <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
variables = 2 + 3.14

11) Realizar una operación de suma de números complejos

In [26]:
v1 = 2 + 6j
v2 = 4 + 3j
print(v1+v2)

(6+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
f = b + 8j
print(f)

(1+8j)

13) Realizar una operación de multiplicación

In [31]:
multi = 3 * 5
print(multi)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
potencia = 5**4
print(potencia)

625

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [36]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [37]:
int(cociente)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [38]:
div = 27 % 4
print(div)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
resultado = 4 * 6 + 3
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [43]:
nombre = 'elio'
apellido_paterno = 'corrales'
apellido_materno = 'pilco'
print(nombre + apellido_paterno + apellido_materno)

eliocorralespilco

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [46]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [49]:
r = 3
r -= 1
print(r)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [51]:
t = 1 << 2
print(t)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [52]:
p = 2 + '2'
print(p)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [55]:
va1 = 2
va2 =  'soy henry'
print(va1 * va2 + str(va1) + '  veves henry')

soy henrysoy henry2  veves henry